<%- include("templates/header") %> 
<div><a class="btn btn-secondary rounded-pill px-3" href="/signup">Sign Up</a></div></br>
<div><a class="btn btn-primary rounded-pill px-3" href="/login">Log In</a></div>
<%- include("templates/footer") %>