<%- include("templates/header") %>
<link rel="stylesheet" href="css/phone.css" />
<link rel="stylesheet" href="css/signup.css" />
<link rel="stylesheet" href="css/fonts.css" />

<div class="phone">
  <div class="phone-container">
    <div style="height: 40px"></div>
    <h1>Sign in</h1>
    <form action="/loginSubmit" method="post">
      <div class="form-label">Email address</div>

      <div style="margin-bottom: 15px">
        <input
          name="email"
          type="email"
          class="form-control"
          id="floatingEmail"
          placeholder="Email"
        />
      </div>

      <div class="form-label">Password</div>
      <div style="margin-bottom: 20px">
        <input
          name="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
      </div>

      <button class="btn-purple" type="submit">Submit</button>
    </form>

    <div style="text-align: center; margin-top: 15px">
      Need to register? Sign up <a href="/signup">here</a>
    </div>
  </div>
</div>
