<%- include("templates/header") %>
<link rel="stylesheet" href="css/phone-wider.css" />
<link rel="stylesheet" href="css/fonts.css" />
<link rel="stylesheet" href="css/main.css" />

<body>
  <div class="phone">
    <div class="phone-container" id="phone-container">
      <div style="height: 30px"></div>
      <div class="top-header">
        <Button id="menu"></Button>
        <div id="logo">Studopet</div>
        <div></div>
      </div>
      <div class="stats-container">
        <div class="stats-column">
          <div class="progressBarContainer">
            <div class="progressBar" id="hunger"></div>
          </div>
          Hunger
        </div>
        <div class="stats-column">
          <div class="progressBarContainer">
            <div class="progressBar" id="energy"></div>
          </div>
          Energy
        </div>
        <div class="stats-column">
          <div class="progressBarContainer">
            <div class="progressBar" id="happiness"></div>
          </div>
          Happiness
        </div>
      </div>
      <div class="row">
        <div class="sleeping-box">
          <img src="../images/moon.png" id="moon" />Sleeping
        </div>
      </div>
      <div class="row" style="height: 180px">
        <div class="pet"><img src="/images/CatJump.gif" width="100%" /></div>
      </div>
      <div class="row">
        <div class="pet-info">
          <div class="pet-name"><%= pet.name %></div>
          <div id="pet-age"></div>
        </div>
      </div>
      <div class="action-container">
        <div class="action-column">
          <Button class="action-button feed" id="feedButton"></Button>
          <div class="action-label" style="margin-left: 5px">Feed</div>
        </div>
        <div class="action-column">
          <Button class="action-button play" id="playButton"></Button>
          <div class="action-label" style="margin-left: 6px">Play</div>
        </div>
        <div class="action-column">
          <div class="switch-container">
            <label class="switch">
              <input type="checkbox" />
              <span class="slider round" id="switch"></span>
            </label>
          </div>
          <div id="lightsText" style="margin-top: -3px; margin-left: 3px">
            Lights &nbsp;&nbsp;&nbsp;Out
          </div>
        </div>
        <div class="action-column">
          <div class="speaker-container">
            <label class="speaker">
              <input type="checkbox" />
            </label>
          </div>
          <div style="margin-top: 3px">Music</div>
        </div>
      </div>
    </div>
  </div>
  <script src="scripts/main.js"></script>
  <script src="scripts/pet_status_display.js"></script>
  <script src="scripts/pet_care.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  <script src="scripts/pet_age.js"></script>
</body>
