<%- include("templates/header") %>

  <body>
    <%- include("templates/libraries") %>
      <link rel="stylesheet" href="css/main.css" />
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 studopet">STUDOPET</span>
          </a>
        </header>
      </div>
      <div class="container"></div>

      <div class="row">
        <div class="stats-column">
          <div class="progressBarContainer">
            <div class="progressBar" id="hunger">
            </div>
          </div>
          Hunger
        </div>
        <div class="stats-column">
          <div class="progressBarContainer">
            <div class="progressBar" id="energy">
            </div>
          </div>
          Energy
        </div>
        <div class="stats-column">
          <div class="progressBarContainer">
            <div class="progressBar" id="happiness">
            </div>
          </div>
          Happiness
        </div>
      </div>
      <div class="row">
        <div class="sleeping-box">
          <img src="../images/moon.png" id="moon">Sleeping
        </div>
      </div>
      <div class="row">
        <div class="pet">Your Pet</div>
      </div>
      <div class="row">
        <div class="pet-info">
          <div class="pet-name">Pet Name</div>
          <div class="pet-age">Pet Age</div>
        </div>
      </div>
      <div class="row">
        <div class="action-column">
          <div>
            <label class="feed">
              <input type="button" id="feedButton">
            </label>
          </div>Feed
        </div>
        <div class="action-column">
          <div>
            <label class="play">
              <input type="button" id="playButton">
            </label>
          </div>
          Play
        </div>
        <div class="action-column">
          <div>
            <label class="switch">
              <input type="checkbox" />
              <span class="slider round" id="switch"></span>
            </label>
          </div>
          <div id="lightsText">Lights Out</div>
        </div>
        <div class="action-column">
          <div>
            <label class="speaker">
              <input type="checkbox">

            </label>
          </div>Music
        </div>
      </div>
      </div>
      <script src='scripts/main.js'></script>
      <script src='scripts/pet_status_display.js'></script>
      <script src='scripts/pet_care.js'></script>