<%- include("templates/header") %>

  <body>
    <%- include("templates/libraries") %>
      <link rel="stylesheet" href="css/main.css" />
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 studopet">STUDOPET</span>
          </a>
        </header>
      </div>
      <div class="container"></div>

      <div class="row">
        <div class="stats-column">
          <div class="progressBarContainer">
            <div class="progressBar" id="hunger">
            </div>
          </div>
          Hunger
        </div>
        <div class="stats-column">
          <div class="progressBarContainer">
            <div class="progressBar" id="energy">
            </div>
          </div>
          Energy
        </div>
        <div class="stats-column">
          <div class="progressBarContainer">
            <div class="progressBar" id="happiness">
            </div>
          </div>
          Happiness
        </div>
      </div>
      <div class="row">
        <div class="sleeping-box">
          <img src="../images/moon.png" id="moon">Sleeping
        </div>
      </div>
      <div class="row">
        <div class="pet">Your Pet</div>
      </div>
      <div class="row">
        <div class="pet-info">
          <div class="pet-name">Pet Name</div>
          <div class="pet-age">Pet Age</div>
        </div>
      </div>
      <div class="row">
        <div class="action-column">Feed</div>
        <div class="action-column">Play</div>
        <div class="action-column">
          <div>
            <label class="switch">
              <input type="checkbox" />
              <span class="slider round" id="switch"></span>
            </label>
          </div>
          <div id="lightsText">Lights Out</div>
        </div>
        <div class="action-column">
          <div>
            <label class="speaker">
              <input type="checkbox">

            </label>
          </div>Music
        </div>
      </div>
      </div>
      <script>
        //SLEEPING TOGGLE
        var toggle = document.querySelector('.switch input[type="checkbox"]');
        toggle.addEventListener('change', function () {
          document.body.classList.toggle('dark');
          // Select the element
          var studopetElement = document.querySelector('.studopet');

          // Add a class to the element
          studopetElement.classList.toggle('dark');

          //change LIGHTS text
          lightsText.textContent = toggle.checked ? 'Lights On' : 'Lights Out';

          // Select the sleeping box container
          var sleepingBoxContainer = document.querySelector('.sleeping-box');

          //change text
          lightsText.textContent = toggle.checked ? 'Lights On' : 'Lights Out';

          // Toggle the visibility of the sleeping box based on the toggle state
          sleepingBoxContainer.style.visibility = toggle.checked ? 'visible' : 'hidden';

          // Select the speaker element
          var speaker = document.querySelector('.speaker');
          console.log(toggle.checked)
          updateSpeakerImage(musicPlayer.checked, toggle.checked)
        });

        //MUSIC TOGGLE
        var musicPlayer = document.querySelector('.speaker input[type="checkbox"]');
        const songs = ['audio/music1.mp3', 'audio/music2.mp3', 'audio/music3.mp3']
        let currentSongIndex = 0;

        let audio = new Audio(songs[currentSongIndex]);

        // Function to play the next song
        function playNextSong() {
          currentSongIndex = (currentSongIndex + 1) % songs.length;
          audio.src = songs[currentSongIndex];
          audio.play();
        }

        // Event listener for the ended event, to play the next song
        audio.addEventListener('ended', playNextSong);

        function updateSpeakerImage(playing, lightsOff) {
          var speaker = document.querySelector('.speaker');
          if (playing) {
            if (lightsOff) {
              speaker.style.backgroundImage = 'url(\'../images/SpeakerW.png\')';
            } else {
              speaker.style.backgroundImage = 'url(\'../images/SpeakerD.png\')';
            }
          } else { //not playing 
            if (lightsOff) {
              speaker.style.backgroundImage = 'url(\'../images/SpeakerWOff.png\')';
            } else {
              speaker.style.backgroundImage = 'url(\'../images/SpeakerDOff.png\')';
            } 
          }
        }
        // Event listener for the musicPlayer checkbox
        musicPlayer.addEventListener('change', function () {
          if (musicPlayer.checked) {
            audio.play();
            updateSpeakerImage(true, toggle.checked);
          } else {
            audio.pause();
            updateSpeakerImage(false, toggle.checked);
          }
        });
      </script>
      <script src='scripts/pet_status_display.js'></script>
      <script src='scripts/pet_care.js'></script>