<%- include("templates/header") %>
<link rel="stylesheet" href="css/main.css" />
<div class="row">
  <div class="stats-column">Hunger</div>
  <div class="stats-column">Energy</div>
  <div class="stats-column">Happiness</div>
</div>
<div class="row"><div class="pet">Your Pet</div></div>
<div class="row">
  <div class="pet-info">
    <div class="pet-name">Pet Name</div>
    <div class="pet-age">Pet Age</div>
  </div>
</div>
<div class="row">
  <div class="action-column">Feed</div>
  <div class="action-column">Play</div>
  <div class="action-column">
    <div>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
    <div>Lights Out</div>
  </div>
  <div class="action-column">Music</div>
</div>
