<link rel="stylesheet" href="css/phone.css" />
<link rel="stylesheet" href="css/signup.css" />
<link rel="stylesheet" href="css/fonts.css" />
<link rel="stylesheet" href="css/carousel.css" />

<div class="phone">
  <div class="phone-container">
    <div style="margin-top: 60px">
      <h1>Step 1</h1>
      <h1 style="margin-top: -10px">Pick your Pet</h1>
    </div>
    <form action="/register_pet_type_submit" method="post">
      <div class="form-check">
        <input
          id="cat"
          name="petType"
          type="radio"
          class="form-check-input"
          value="cat"
          checked=""
          required=""
        />
        <label class="form-check-label" for="cat">Cat</label>
      </div>
      <div class="form-check">
        <input
          id="dog"
          name="petType"
          type="radio"
          class="form-check-input"
          value="dog"
          required=""
        />
        <label class="form-check-label" for="dog">Dog</label>
      </div>
      <div class="form-check">
        <input
          id="pig"
          name="petType"
          type="radio"
          class="form-check-input"
          value="pig"
          required=""
        />
        <label class="form-check-label" for="pig">Pig</label>
      </div>
      <div class="form-check">
        <input
          id="sheep"
          name="petType"
          type="radio"
          class="form-check-input"
          value="sheep"
          required=""
        />
        <label class="form-check-label" for="sheep">Sheep</label>
      </div>
      <button class="btn-purple" type="submit">Confirm</button>
    </form>
  </div>
</div>
