<link rel="stylesheet" href="css/phone.css" />
<link rel="stylesheet" href="css/signup.css" />
<link rel="stylesheet" href="css/fonts.css" />

<div class="phone">
  <div class="phone-container">
    <div style="margin-top: 60px">
      <h1>Step 2</h1>
      <h1 style="margin-top: -15px">Name your pet</h1>
    </div>
    <form action="/register_pet_name_submit" method="post">
      <input
        type="hidden"
        class="petImage"
        name="petType"
        value="<%= pet_type %>"
      />
      <div class="my-3">
        <input
          type="text"
          class="form-control"
          name="petName"
          placeholder="Type your pet name"
          value=""
          required=""
        />
      </div>
      <button class="btn-purple" type="submit" style="margin-top: 20px">
        Create my pet!
      </button>
    </form>
  </div>
</div>
