<%- include("templates/header") %>
<link rel="stylesheet" href="css/phone.css" />
<link rel="stylesheet" href="css/signup.css" />
<link rel="stylesheet" href="css/fonts.css" />
<link rel="stylesheet" href="css/carousel.css" />
<link rel="stylesheet" href="css/pet_type.css" />

<div class="phone">
  <div class="phone-container">
    <div style="margin-top: 40px">
      <h1>Step 1</h1>
      <h1 style="margin-top: -10px">Pick your Pet</h1>
    </div>
    <form action="/register_pet_type_submit" method="post">
      <ul>
        <li class="item-1">
          <input
            type="radio"
            id="dog"
            name="petType"
            value="dog"
            class="input-hidden"
          />
          <label for="dog"><img src="../images/DogIdle.gif" /></label>
          <div class="radio-label">Dog</div>
        </li>
        <li class="item-2">
          <input
            type="radio"
            id="cat"
            name="petType"
            value="cat"
            class="input-hidden"
          />
          <label for="cat"><img src="../images/CatIdle.gif" /></label>
          <div class="radio-label">Cat</div>
        </li>
        <li class="item-3">
          <input
            type="radio"
            id="bunny"
            name="petType"
            value="bunny"
            class="input-hidden"
          />
          <label for="bunny"><img src="../images/BunnyIdle.gif" /></label>
          <div class="radio-label">Bunny</div>
        </li>
        <li class="item-4">
          <input
            type="radio"
            id="guineapig"
            name="petType"
            value="guineapig"
            class="input-hidden"
          />
          <label for="guineapig"
            ><img src="../images/GuineapigIdle.gif"
          /></label>
          <div class="radio-label">Guinea Pig</div>
        </li>
      </ul>
      <button class="btn-purple" type="submit" style="margin-top: 10px">
        Confirm
      </button>
    </form>
  </div>
</div>
