<%- include("templates/header") %>
    <div class="register_pet_type_title text-center">
        <h1>Step 3</h1>
        <h1>Set your sleep</h1>
        <h1>schedule</h1>
    </div>
    <form action='/register_schedule_submit' method='post' class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="my-3">
            <label for="floatingSleepTime">Sleep time</label>
            <input name="sleepTime" type="time" class="form-control" id="floatingSleepTime">
            <label for="floatingWakeTime">Wake time</label>
            <input name="wakeTime" type="time" class="form-control" id="floatingWakeTime"> 
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
    </form>