<%- include("templates/header") %>
<link rel="stylesheet" href="css/phone.css" />
<link rel="stylesheet" href="css/signup.css" />
<link rel="stylesheet" href="css/fonts.css" />

<div class="phone">
  <div class="phone-container">
    <div style="height: 40px"></div>
    <h1 style="margin-bottom: 20px">Sign Up</h1>
    <% if (error) { %>
      <div class="error-message" style= "white-space: pre-line"><%= error %></div>
    <% } %>
    <form action="/signupSubmit" method="post">
      <div class="form-label">Email Address</div>
      <div style="margin-bottom: 15px">
        <input
          name="email"
          type="email"
          class="form-control"
          id="floatingEmail"
          placeholder="Email"
        />
      </div>

      <div class="form-label">Password</div>

      <div style="margin-bottom: 15px">
        <input
          name="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
      </div>

      <div class="form-label">Confirm Password</div>

      <div style="margin-bottom: 20px">
        <input
          name="passwordConfirmed"
          type="password"
          class="form-control"
          id="floatingConfirmPassword"
          placeholder="Password"
        />
      </div>

      <button class="btn-purple" type="submit">Submit</button>
      <div style="text-align: center; margin-top: 20px">
        Already have an account? Sign in <a href="/login">here</a>
      </div>
    </form>
  </div>
</div>
