.row {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.stats-column {
  text-transform: uppercase;
  font-size: 9pt;
  width: 33.33%;
}

.action-column {
  font-size: 9pt;
  text-transform: uppercase;
  width: 25%;
}

.pet {
  margin-top: 50px;
  padding-top: 40%;
  height: 350px;
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.pet-name {
  font-size: 22pt;
}

.pet-info {
  margin-bottom: 100px;
}

/* Lights On-Off */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #354449;
}

input:focus + .slider {
  box-shadow: 0 0 1px #354449;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark {
  /* background-image: url('bgdark.png'); */
  background-color: #312e2e;
  color: white; /* White text color for better contrast */
}

body {
  transition: background-color 0.5s ease; 
}

.studopet {
 background-color: transparent;
}

.sleeping-box {
  background-color: #f1f1f1; 
  color: #333; 
  padding: 1px 1px; 
  border-radius: 8px; 
  visibility: hidden;
  width: 100px;
  height: 30px;
  margin: 25px auto 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #0065d0;
  background-color: #C9F0FF;
  font-weight: 600;
  line-height: 2
}

.progressBarContainer {
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
}

.progressBar {
  width: 0%;
  height: 20px;
  border-radius: 5px;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.bad {
  background: #FF4E4E;
}

.moderate {
  background: #DD950A;
}

.good {
  background: #11FF93;
}

/**music*/
.speaker input {
  display: none;
}

.speaker {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 30px;
  background-image: url('../images/SpeakerDOff.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#moon{
  margin-right: 5px;
}