.box-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.form-check {
    flex-basis: 50%;
    text-align: center;
    padding: 10px;
}

.form-check-input {
    display: none; /* Hide the default radio button */
}

/* .form-check-input + img {
    margin-bottom: 8px;
} */

.form-check label {
    display: inline-block;
    cursor: pointer;
    /* border: 1px solid #D1CCCC; */
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease;
}

.form-check-label:hover {
    background-color: #f7f7f7;
}

/* Custom styling for checked state using sibling combinator */
/* .form-check-input:checked + label {
    border: 2px solid blue;
} */
