<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public\css\header_loggedIn.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="off-screen-menu">
      <p>Menu</p>
      <ul>
        <li> <a href="#">Sleep Settings</a></li>
        <li> <a href="#">Logout</a></li>
      </ul>
    </div>

    <nav>
      <div class="ham-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>

    <script src="scripts\header_loggedIn.js"></script>
  </body>
</html>

